body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: #ffbf00;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

h1, h2 {
		font-family: 'Gloria Hallelujah', cursive;
}

header h1{
	color: white;
	font-size: 60px;
	}

header img {
	border-radius: 170px;
	width: 300px;
	border: 20px solid #2C3E50;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

main img {
	max-width: 100%;
}

h2 {
	font-size: 33px;
	color: #ffbf00;
	margin: 40px 0 10px;
}

a {
	color: #ffbf00;	
}

a:hover{
	font-weight:bold;
}

footer {
	background-color: #ffbf00;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p {
	margin:0;
}

footer a {
	color:white;
}

footer a:hover {
	opacity: .5;
	font-size: 25px;
}

p.caption {
	color: #ABB2B9;
	font-style: italic;
	margin-top: 0;
}